body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #411c1c;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

nav ul li a.active {
    border-bottom: 2px solid rgb(246, 242, 242);
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-bar input[type="search"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.cart-icon {
    margin-left: 20px;
    cursor: pointer;
}

nav a {
    color: white;
    text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.home-main {
    height: 100vh;
    background-image: url("Living.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0, 0, 10px black;
}
